#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gameContainer {
  width: 100%;
  height: 100%;
}

.gameBoard {
  width: 600px;
  height: 600px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 20px);
  grid-template-rows: repeat(auto-fill, 20px); */
}

.SpeedBox {
  width: 18%;
  height: 18%;
  background-color: blue;
}

.green {
  background-color: greenyellow;
}